<div class="container-fluid">
  <h6>Logged in as: {{user_name}}</h6>
  <br>
  <h3>Current Polls</h3>
  <table class="table">
      <tr>
          <th scope="col">Name</th>
          <th scope="col">Survey Question</th>
          <th scope="col">Date Posted</th>
          <th scope="col">Action</th>
      </tr>
      <tbody *ngFor="let poll of polls">
        <td>{{ poll.user_name }}</td>
        <td><a [routerLink]="['/poll', poll._id]" >{{ poll.question }}</a></td>
        <td>{{ poll.createdAt | date:'longDate' }}</td>
        <td><button (click)="removePoll(poll, poll._id)">Delete</button></td>
      </tbody>
  </table>
  <br>
  <div>
    <a href="/create">Create a New Poll |</a>
    <a href="/logout">Log Out</a>
  </div>
</div>