
<div class="container-fluid" *ngFor ="let p of poll">
  <a href="/dashboard" id="dashboard">go to polls</a>
<h3>{{p.question}}</h3>
<p> click the vote botton to choose one</p>
<table class = "table">
    <tr>
        <th scope="col">Option</th>
        <th scope="col">Current Count of Votes</th>
        <th scope="col">Action</th>
    </tr>
    <tbody >
      <tr >
          <td>{{p.option1}}</td>
          <td>{{p.vote1}}</td>
          <td><button class="btn-small btn-danger" (click)="addOne()">Vote</button></td>
      </tr>
      <tr>
          <td>{{p.option2}}</td>
          <td>{{p.vote2}}</td>
          <td><button class="btn-small btn-danger" (click)="addOne()">Vote</button></td>
      </tr>
      <tr>
          <td>{{p.option3}}</td>
          <td>{{p.vote3}}</td>
          <td><button class="btn-small btn-danger" (click)="addOne()">Vote</button></td>
      </tr>
      <tr>
          <td>{{p.option4}}</td>
          <td>{{p.vote4}}</td>
          <td><button class="btn-small btn-danger" (click)="addOne()">Vote</button></td>
      </tr>
    </tbody>
</table>
</div>